.cart-container {
  width: 100%;
  padding: 32px;
  display: flex;
  margin-top: 32px;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  justify-content: center;
  background-color: #fff;
}

.cart-main {
  width: 100%;
}

.cart-main_section--table .cart-table {
  width: 100%;
  margin-top: 32px;
  border-collapse: collapse;
}

.cart-main_section--table th,
.cart-main_section--table td {
  padding: 8px;
  text-align: left;
  border: 1px solid #d6d6d6;
}

.cart-main_section--table th {
  font-weight: bold;
  background-color: rgb(233, 233, 233);
}

.cart-main_section--table td {
  text-align: center;
}

.cart-table_quantity {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cart-table_button {
  background: none;
  border: none;
  cursor: pointer;
}

.cart-table_button:hover {
  transform: scale(1.1);
}

.cart-table_button--decrease {
  color: red;
}

.cart-table_button--increase {
  color: green;
}

.cart-table_button--remove {
  color: red;
}

.cart-total {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.cart-total_item {
  font-size: 16px;
}

.cart-total_discounted {
  font-weight: bold;
  color: #00b200;
}

.cart-discount {
  display: flex;
  gap: 16px;
  align-items: flex-end;
}

.cart-discount_input-group {
  display: flex;
  flex-direction: column;
  position: relative;
}

.cart-discount_label {
  font-weight: bold;
}

.cart-discount_input {
  width: 100%;
  padding: 8px;
  margin-top: 4px;
  border-radius: 5px;
  border: 1px solid black;
}

.cart-discount_input--error {
  border-color: #ff0000;
}

.cart-discount_error-message {
  color: #ff0000;
  font-weight: 600;
  font-size: 12px;
}

.cart-discount_button {
  width: 100%;
  max-width: 150px;
  height: 35px;
  padding: 10px 16px;
  border-radius: 10px;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

.cart-discount_button:hover {
  background-color: rgb(233, 233, 233);
}

.cart-main_section--discount {
  display: flex;
  justify-content: space-between;
}
